html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-size: 10px;
}

.ats-container > * {
  border: 0.5px solid #000000;
  padding: 10px;
}

.ats-container {
  height: 100%;
  display: grid;
  grid-template-rows: 10% 85% 5%;
  grid-template-columns: repeat(12, 1fr);
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 634px) {
  .ats-container {
    grid-template-rows: 20% 75% 5%;
  }
}


.ats-header {
  grid-column: span 12;
  background-color: #3f51b5;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 5px;
}

.ats-aside {
  grid-column: span 2;
}

.ats-main {
  grid-column: span 10;
}

.ats-footer {
  grid-column: span 12;
  background-color: #3f51b5;
}

img {
  height: 50px;
  width: 80px;
}

.ats-country {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid black;
  width: 85px;
}

.ats-list {
  display: flex;
  flex-wrap: wrap;
}

.ats-main {
  height: auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
}

.ats-title{
  padding-right: 5rem;
}

.ats-all-countries {
  background-color: #2196F3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  margin-right:5rem;
}

/* Style the search field */
.search-div input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;

  background: #f1f1f1;
}

/* Style the submit button */
button {
  float: left;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

button:hover {
  background: #0b7dda;
}

/* Clear floats */
.search-div::after {
  content: "";
  clear: both;
  display: table;
}